<div class="container">
<h1>My lists</h1>
<p><% @lists.each do |list| %>
<%= link_to list.name, list_path(list) %>
<% end %></p>

<%= link_to "new list", new_list_path, class: "btn btn-primary justify-content-center"%>

</div>
